<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<package name="com.eba.propertyconnect.propertymanagement.leasing.mapper" />
		<package name="com.eba.propertyconnect.propertymanagement.legal.mapper" />
		<package name="com.eba.propertyconnect.propertymanagement.property.mapper" />
	</mappers>
</configuration>
